<div class="d-flex align-items-start mb-8" >
    <aside class="sidebar sidebar-fixed" data-scrollable="true" style="border-right:1px solid lightgray;">
        <div class="sidebar-brand">
            <h1 class="text-xl text-light my-0">Matter</h1>
        </div> <!-- end of sidebar-brand -->
        <nav class="sidebar-main-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    
                    <a asp-controller="Dashboard" is-active-route asp-action="Index" class="nav-link d-flex align-items-center">
                        <i class="zmdi zmdi-home icon icon-md mr-2" aria-hidden="true"></i>
                        Dashboard
                    </a> 
                    
                </li>
                <li class="nav-item">
                    <a asp-controller="Customer" is-active-route asp-action="Customers" class="nav-link d-flex align-items-center">
                        <i class="zmdi zmdi-account icon icon-md mr-2"></i>
                        Customer
                    </a>
                   
                </li>
                <li class="nav-item">

                    <a asp-controller="Products" is-active-route asp-action="Products" class="nav-link d-flex align-items-center">
                        <i class="zmdi zmdi-archive icon icon-md mr-2" aria-hidden="true"></i>
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="SalesInvoices" is-active-route asp-action="AllSales" class="nav-link d-flex align-items-center">
                        <i class="zmdi zmdi-shopping-cart icon icon-md mr-2" aria-hidden="true"></i>
                        Sales Invoice
                    </a> 
                </li>
                <li class="nav-item">
                    <a asp-controller="SalesReports" is-active-route asp-action="Reports" class="nav-link d-flex align-items-center">
                        <i class="zmdi zmdi-assignment icon icon-md mr-2" aria-hidden="true"></i>
                        Sales Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Settings" is-active-route asp-action="StoreSetting" class="nav-link d-flex align-items-center">
                        <i class="zmdi zmdi-settings icon icon-md mr-2" aria-hidden="true"></i>
               Settings
                    </a>
                </li>
            </ul>
        </nav>
          
    </aside>
    <div class="sidebar-backdrop" data-toggle="sidebar"></div>
</div>