@{
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <div class="col">
        <div class="row h-100">
            <div class="col-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-baseline justify-content-between">
                            <i class="zmdi zmdi-money zmdi-hc-4x text-success"></i>
                            <div>
                                <h3 class="mb-0 display-2"> 41,726</h3>
                                <br />
                                <h2 class="text-md text-secondary">Total Revenue</h2>
                            </div>
                        </div> <!-- end of d-flex -->

                    </div> <!-- end of card-body -->

                </div> <!-- end of card -->
            </div> <!-- end of col -->

            <div class="col-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-baseline justify-content-between">
                            <i class="zmdi zmdi-shopping-cart zmdi-hc-4x text-alert"></i>
                            <div>
                                <h3 class="mb-0 display-2"> 41,726</h3>
                                <br />
                                <h2 class="text-md text-secondary">Total Sales</h2>
                            </div>
                        </div> <!-- end of d-flex -->

                    </div> <!-- end of card-body -->

                </div> <!-- end of card -->
            </div> <!-- end of col -->
            <div class="col-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-baseline justify-content-between">
                            <i class="zmdi zmdi-archive zmdi-hc-4x text-warning"></i>
                            <div>
                                <h3 class="mb-0 display-2"> 41,726</h3>
                                <br />
                                <h2 class="text-md text-secondary">Total Products</h2>
                            </div>
                        </div> <!-- end of d-flex -->

                    </div> <!-- end of card-body -->

                </div> <!-- end of card -->
            </div> <!-- end of col -->
            <div class="col-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-baseline justify-content-between">
                            <i class="zmdi zmdi-account zmdi-hc-4x text-danger"></i>
                            <div>
                                <h3 class="mb-0 display-2"> 41,726</h3>
                                <br />
                                <h2 class="text-md text-secondary">Total Customer</h2>
                            </div>
                        </div> <!-- end of d-flex -->

                    </div> <!-- end of card-body -->

                </div> <!-- end of card -->
            </div> <!-- end of col -->

        </div> <!-- end of row -->
    </div> <!-- end of col -->


</div> <!-- end of row -->

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-center align-items-md-start justify-content-between mb-4">
                    <h2 class="text-md mb-0">Recent 5 Sales</h2>

                </div> <!-- end of d-flex -->
            </div> <!-- end of card-body -->
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Invoice Code</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Print</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>#001AAA</td>
                            <td>12/02/2023</td>
                            <td>$300</td>
                            <td> <span class="badge badge-success">Active</span></td>
                            <td>
                                <button type="button" class="btn"><i class="zmdi zmdi-print zmdi-hc-2x " aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>#001AAA</td>
                            <td>12/02/2023</td>
                            <td>$300</td>
                            <td> <span class="badge badge-danger">Due</span></td>
                            <td>
                                <button type="button" class="btn "><i class="zmdi zmdi-print zmdi-hc-2x " aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>#001AAA</td>
                            <td>12/02/2023</td>
                            <td>$300</td>
                            <td> <span class="badge badge-secondary">Cancelled</span></td>
                            <td>
                                <button type="button" class="btn  "><i class="zmdi zmdi-print zmdi-hc-2x " aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>#001AAA</td>
                            <td>12/02/2023</td>
                            <td>$300</td>
                            <td> <span class="badge badge-success">Active</span></td>
                            <td>
                                <button type="button" class="btn "><i class="zmdi zmdi-print zmdi-hc-2x " aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>#001AAA</td>
                            <td>12/02/2023</td>
                            <td>$300</td>
                            <td> <span class="badge badge-success">Active</span></td>
                            <td>
                                <button type="button" class="btn  "><i class="zmdi zmdi-print zmdi-hc-2x " aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- end of table-responsive -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
