@model Customer

 

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2 class="mb-4 text-md font-weight-bold">Add Customer</h2>
                @{
                    await Html.RenderPartialAsync("_AlertPartial");
                }
                <form class="row" method="post" asp-action="EditCustomer">
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="col-12 col-lg-10 pr-xl-3">
                        <div class="form-group">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" type="text" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div> <!-- end of form-group -->

                        <div class="form-group">
                            <label asp-for="Phone">Phone</label>
                            <input asp-for="Phone" type="text" class="form-control">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div> <!-- end of form-group -->

                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" />

                        </div> <!-- end of form-group -->
                        <div class="form-group">
                            <label asp-for="Address">Address</label>
                            <textarea class="form-control" asp-for="Address" rows="2"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div> <!-- end of form-group -->
                        <div class="form-group">
                            <label asp-for="Notes">Notes</label>
                            <textarea class="form-control" asp-for="Notes" rows="3"></textarea>
                        </div> <!-- end of form-group -->
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" asp-for="IsActive">
                                <label class="custom-control-label" asp-for="IsActive">Customer Active</label>
                            </div> <!-- end of custom-checkbox -->
                        </div> <!-- end of form-group -->
                        <!-- end of d-flex -->
                        <div class="form-group">
                            <div class="text-right"><button type="submit" class="btn btn-primary">Submit</button></div>
                        </div>
                    </div> <!-- end of col -->

                </form> <!-- end of row -->
            </div> <!-- end of card-body -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}