@using InvoiceGenerator.Models.Notification;
@foreach (string key in MyAlerts.ALL.Except(new[] { MyAlerts.ATTENTION }))
{
    if (TempData.ContainsKey(key))
    {
        <div id="notificationbar" class="badge badge-@key">
            @TempData[key]
        </div>
    }
}